#Questions {
  margin: 20px;
  .section-header {
    padding: 20px;
    border-radius: 8px;
    background: var(--panel);
    box-shadow: var(--shadow);
    margin-bottom: 8px;
  }
  .content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 8px;
    .questions,
    .answer {
      padding: 20px;
      border-radius: 8px;
      background: var(--panel);
      box-shadow: var(--shadow);
      display: flex;
      flex-direction: column;
      gap: 12px;
    }
  }

  .questions {
    .actions {
      display: flex;
      gap: 8px;
      .search {
        width: 100%;
      }
    }
    .question-list {
      display: flex;
      flex-direction: column;
      gap: 8px;
      .question {
        background-color: var(--background);
        padding: 8px;
        border-radius: 8px;
        box-shadow: var(--shadow);
        transition: var(--transition);

        cursor: pointer;
        &:hover {
          background-color: var(--nav);
        }
        .tags {
          display: flex;
          gap: 2px;
          font-size: 70%;
          color: var(--text-disabled);
          .tag:not(:last-child)::after {
            content: ",";
          }
        }
      }
    }
  }
}
